<div class="container">
<div class="row no-gutters">
<div class="col-md-5 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
<h5 class ="text-dark bg-light py-4 mb-0">新規登録</h5>

<div class="form-body p-4">
<%= form_with model: @user, url: user_registration_path do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="input-group mb-3">
<%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "ユーザー名" %>
</div>

<div class="input-group mb-3">
<%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"メールアドレス" %>
</div>

<div class="input-group mb-3">
<%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"パスワード(最低6文字)" %>
</div>

<div class="input-group mb-3">
<%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"パスワード(確認用)" %>
</div>

<div class="actions">
<%= f.submit "新規登録", class:"btn btn-lg btn-block btn-info mt-5" %>
</div>
<% end %>
</div>
</div>
</div>
</div>